* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
    scroll-behavior: smooth;
    background: rgb(236, 236, 236);
}

a {
    color: #101010;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.f-width {
    width: 100%;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.p-3 {
    padding: 30px 35px;
}

.g-1 {
    gap: 15px;
}

.g-2 {
    gap: 30px;
}

.auto {
    margin: auto;
}

header {
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
    footer {
        gap: 15px;
        flex-direction: column;
    }
}

header .logo p {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Aref Ruqaa', serif;
}

header nav a {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/* estilos de /Tienda */
.product-list {
    margin: 0 35px;
    flex-wrap: wrap;
    min-height: 70vh;
}
.product {
    max-width: 308px;
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    background: #0000001a;
}
.product .left, .right {
    width: 50%;
    height: 100%;
    padding: 15px;
    font-family: 'Aref Ruqaa', serif;
}
.product .left {
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    background: #ffffff66;
}
.product .right {
    list-style: none;
}
.product .precio {
    font-size: 1.3em;
    color: #8ec200;
}
.product .detalles {
    color: #404040;
    cursor: pointer;
    margin-top: 50px;
}
.details {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
    transform: translateX(100vw);
}
.details .left, .right {
    width: 50%;
    height: 100%;
}
.details .left {
    background: #e5e5e5;
}
.details .close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #000;
}
.details .right {
    background: #d4d4d4;
}
.show {
    transform: translateX(0vw);
}

/* estilos de /Inicio */
.hero {
    height: 570px;
    margin: 0 35px;
    padding-top: 100px;
    padding-left: 100px;
    border-radius: 10px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(../images/coffee-grinder-2138170.jpg);
}

.hero .title {
    color:#fff;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.5em;
    font-family: 'Aref Ruqaa', serif;
}

.hero .paragraph {
    width: 450px;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    text-shadow: 1px 1px 5px #000;
    font-family: 'Raleway', sans-serif;
}

.hero button {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    height: fit-contet;
    padding: 6px 40px;
    border-radius: 3px;
    border-color: #985a36;
    font-family: 'Aref Ruqaa', serif;
    background: #a76208;
}
.hero button:hover {
    background: #b17943;
}

.muestra-list {
    margin: 60px 0;
    padding: 80px 0;
    align-items: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../images/NUESTRA\ SELECCIÓN.svg);
}

.muestra {
    text-align: center;
    flex-direction: column;
}

.muestra img {
    width: 80px;
    height: auto;
    margin: 0 auto;
}

.muestra .title {
    color: #a76208;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Aref Ruqaa', serif;
}

.muestra .paragraph {
    font-family: 'Raleway', sans-serif;
}

.nosotros {
    height: 450px;
    margin: 0 35px;
    padding: 40px 0;
    position: relative;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    background: linear-gradient(180deg,#b17943,#985a36,#59321e);
}

.nosotros .title {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Aref Ruqaa', serif;
}

.nosotros .paragraph {
    color: #eee;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
}

.nosotros .container {
    left: 50%;
    bottom: -50px;
    position: absolute;
    transform: translateX(-50%);
}

.cuadro {
    color: #101010;
    width: 230px;
    height: 200px;
    font-weight: 600;
    border-radius: 10px;
    background: #ecb480;
    flex-direction: column;
    font-family: 'Aref Ruqaa', serif;
}

.pasos {
    margin: 150px 0;
    padding: 0 35px;
    position: relative;
    justify-content: space-evenly;
}

.pasos .background {
    top: 30px;
    z-index: 0;
    width: 60%;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    background: #b17943;
}

.pasos .column {
    z-index: 10;
    text-align: center;
    flex-direction: column;
}

.pasos .numero {
    font-size: 2.5em;
    color: #b17943;
    background: rgb(236, 236, 236);
    font-family: 'Aref Ruqaa', serif;
}

.pasos .title {
    color: #101010;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Aref Ruqaa', serif;
}

.pasos .paragraph {
    font-size: 1em;
    color: #404040;
    font-family: 'Raleway', sans-serif;
}

footer {
    padding: 35px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,#b17943,#985a36,#59321e);
}

footer p {
    color: #eee;
}
footer a {
    color: #fff;
}